<article class="post post-content" data-target="{{_id}}">
    <p>{{content}}</p>
    <div class="info">
        submitted {{submitDate}} ago by {{author}} | <a href="#/deleteComment/:{{_id}}" class="deleteLink">delete</a>
    </div>
</article>