<tr data-target="{{_id}}">
    <th>{{product.title}}</th>
    <th>{{product.description}}</th>
    <th>{{quantity}}</th>
    <th>{{product.totalPrice}}</th>
    <th><button>Discard</button></th>
</tr>